$screen-xs-min: 300px;  // Tiny phones
$screen-sm-min: 400px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

$list-font-size: 1em;