@import '../style/mixins';
@import '../style/variables';

.App {
  text-align: center;
  margin: auto;
  width: 60%;

  @include xs {
    width: 80%;
  }
}

.launch-container {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(218, 235, 253, 0.1) 0%, rgba(191, 218, 243, 0.1) 100%), url('../Assets/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 1400px;
  width: auto;
  max-height: 1200vh;
  height: auto;
  margin: auto;
  padding-bottom: 30%;
  top: 10%;
}

.header-title {
  color: white;
  font-size: 15px;
  padding-top: 10px;
  

  @include xs {
    font-size: 10px;
    padding-bottom: 18%;
  }

  @include md {
    font-size: 18px;
    padding-bottom: 9%;
  }
}

list-container{
  margin: auto;
}

.list-item{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: white;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2%;
  font-size: $list-font-size;

  @include xs {
    padding: 0.3%;
    font-size: 0.5em; // adjust this value to match desired size on small screens
  }

  @include md {
    padding: 0.3%;
    font-size: 0.8em; // adjust this value to match desired size on medium screens
  }
}
.top-header  {
  margin: auto;
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 80%;
  height: 8vh;
  left: 10%;
  align-content: space-between;
  justify-content: flex-end;
  padding-right: 1%;
  border: thin solid white;
  border-radius: 5px;
  opacity: 50%;
  padding-bottom: 1%;
  font-size: 25px;
  color: white;

  @include xs {
    height: 5vh;
    top: 1px;
  }

  @include md {
    height: 6vh;
    top: 20px;
    width: 78%;
  }
}
.land-success-container label {
  color: white !important;
}

.list-title {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-evenly;
  margin: auto;
  width: auto;
  opacity: 90%;
  font-size: 10px;
  padding-top: 1%;



  @include xs {
    font-size: 6px;
    top: 12%;
    height: 3vh;
    padding-top: 0.3%;
  }

  @include md {
    font-size: 12px;
    top: 14%;
    height: 4vh;
    padding-left: 2.3%;
    padding-top: 0.5%;
    width: auto;
    // left: 11%;
  }
}
.flights-container{
  padding-top: 20%;
}

.id-article-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: auto;

  @include xs {
    width: auto;
  }

  @include md {
    // justify-content: flex-start;
    width: auto;
    // padding-left: 100px;
  }
}

.id-header {
  padding-right: 10%;
  margin-left: 80px;

  @include md {
    padding-right: 30%;
    margin-right: 15px;
  }
}
